.find input
{
    width: 40%; 
    height: 40px;
    border: 1px solid gray;
    font-size: 16px;
}

.find
{
    padding-top: 40px;
}
.find button
{
    width: 80px;
    height: 40px;
    margin-left: -4px;
    font-weight: 600;
    font-size: 16px;
}
.btn
{
    border-radius:0;
    vertical-align:0%;
}
.logout
{
margin-top: 15px;
}
.radio-button
{
    display: block;
}

.status
{
    padding-top: 100px
}
.status .status-but
{
    background-color: #d9534f;
    height: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 16px;
}
.search-details
{
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: 500;
    text-align: center;
    display: block;
}

@media only screen and (max-width:768px)
{
.logout {
    margin-top: 15px;
    text-align: center;
}
}


/* gurukirand4.000webhostapp.com */